.demo-color-box {
  position: relative;
  border-radius: 4px;
  padding: 20px;
  margin: 5px 0;
  height: 114px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;

  & .value {
    font-size: 12px;
    opacity: 0.69;
    line-height: 24px;
  }
}
.demo-color-box-other {
  height: 74px;
  margin: 10px 0 !important;
  border-radius: 4px 4px 4px 4px !important;
  padding: 15px 20px;
}
.demo-color-box-group {
  .demo-color-box {
    border-radius: 0;
    margin: 0;
  }
  .demo-color-box:first-child {
    border-radius: 4px 4px 0 0;
  }
  .demo-color-box:last-child {
    border-radius: 0 0 4px 4px;
  }
}
.bg-color-sub {
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 0 0 4px 4px;
}
.bg-blue-sub-item {
  width: 11.1111111%;
  height: 100%;
  display: inline-block;
}
.bg-blue-sub-item:first-child {
  border-radius: 0 0 0 4px;
}
.bg-success-sub-item {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.bg-success-sub-item:first-child {
  border-radius: 0 0 0 4px;
}
.bg-success-sub-item:last-child {
  border-radius: 0 0 4px 0;
}
.bg-transparent {
  border: 1px solid #fcc3c3;
  color: #303133;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 98 L100 0 L100 1 L1 98' fill='%23FCC3C3' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}
.demo-color-box-lite {
  color: #303133;
}


.color-palettes {
  margin: 0 1%;
  padding: 0;
}

.color-palette {
  display: inline-block;
  width: 31%;
  margin: 45px 1%;
}

.color-title {
  margin: 0 0 24px;
  color: #5c6b77;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
}

.color-description {
  display: block;
  color: #777;
  font-weight: lighter;
  font-size: 14px;
}

.main-color {
  text-align: left;
  &:hover {
    .main-color-value {
      left: 0;
      opacity: 0.7;
    }
  }
}

.main-color-item {
  position: relative;
  height: 44px;
  margin-right: 4px;
  padding: 0 12px;
  font-size: 14px;
  font-family: Consolas, sans-serif;
  line-height: 44px;
  cursor: pointer;
  transition: all 0.2s;

  &:first-child {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    margin-right: -8px;
    border-radius: 0 4px 4px 0;
  }

  .main-color-text {
    float: left;
    transition: all 0.3s;
  }

  .main-color-value {
    position: relative;
    left: 3px;
    float: right;
    transform: scale(0.85);
    transform-origin: 100% 50%;
    opacity: 0;
    transition: all 0.3s;
  }
}
