.code-page-header {
  .el-page-header {
    border: 1px solid rgb(235, 237, 240);
  }

  .wrap {
    display: flex;
  }
  .content {
    flex: 1;
    &.padding {
      padding-left: 20px;
    }
  }
  .extraContent {
    min-width: 240px;
    text-align: right;
  }
  .contentLink {
    padding-top: 16px;
    a {
      display: inline-block;
      vertical-align: text-top;
      margin-right: 32px;
    }
  }

  .description {
    display: table;
  }

  .term {
    display: table-cell;
    margin-right: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    line-height: 20px;
  }

  .term:after {
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
    content: ":";
  }

  .detail {
    display: table-cell;
    padding-bottom: 8px;
    width: 100%;
    line-height: 20px;
  }
}
