.code-block.code-slider .source {
  padding: 0;
}

.code-block.code-slider .block {
  padding: 30px 24px;
  overflow: hidden;
  border-bottom: solid 1px #eff2f6;
  &:last-child {
    border-bottom: none;
  }
}

.code-block.code-slider .demonstration {
  font-size: 14px;
  color: #8492a6;
  line-height: 44px;
}

.code-block.code-slider .demonstration + .el-slider {
  float: right;
  width: 70%;
  margin-right: 20px;
}
