@import "mixins/mixins";
@import "common/var";

@include b(treemap) {
  position: relative;
  display: table;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

@include b(treemap-node) {
  display: table-cell;
  vertical-align: top;

  @include when(root) {
    & > .el-treemap-node__wrapper {
      background-color: $--color-primary-light-9;
    }
  }

  @include when(collapsed) {
    & > .el-treemap-node__line {
      border: none !important;
    }

    .el-treemap-node__line-bottom {
      border: none !important;
    }

    .el-treemap-node__fold-icon {
      top: -6px;
      opacity: 1;
      transform: none !important;
    }
  }

  @include e(wrapper) {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 5px 10px;
    border: $--border-base;
    border-radius: 1px;
    color: $--color-text-primary;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: $--color-primary;
      border-color: $--color-primary-light-7;
      background-color: $--color-primary-light-9;

      .el-treemap-node__fold-icon {
        opacity: 1;
      }
    }
  }

  @include e(line) {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    border-right: none !important;
    border-bottom: none !important;
    border: $--border-base;
  }

  @include e(line-top) {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1px;
    border: $--border-base;
    border-right: none !important;
    border-bottom: none !important;
  }

  @include e(line-bottom) {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1px;
    border: $--border-base;
    border-right: none !important;
    border-bottom: none !important;
  }

  @include e(fold-icon) {
    position: absolute;
    top: -6px;
    left: -5px;
    z-index: 10;
    display: block !important;
    font-size: 10px;
    color: $--color-text-secondary;
    background-color: $--color-white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s, transform 0.1s;
  }

  @include e(children) {
    display: table;
    margin-top: 20px;
  }
}
